@font-face {
  font-family: 'Arial';
  src: url("../fonts/ArialMT.eot");
  src: url("../fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialMT.woff2") format("woff2"), url("../fonts/ArialMT.woff") format("woff"), url("../fonts/ArialMT.ttf") format("truetype"), url("../fonts/ArialMT.svg#ArialMT") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica-Regular.eot");
  src: url("../fonts/Helvetica-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica-Regular.woff2") format("woff2"), url("../fonts/Helvetica-Regular.woff") format("woff"), url("../fonts/Helvetica-Regular.ttf") format("truetype"), url("../fonts/Helvetica-Regular.svg#Helvetica-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 30px 0 0;
  background: #fff;
  font-family: "Lato", sans-serif; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

section, .h1, .h2, .h3, h1, h2, h3, h4, h5, h6, p, .btn, a, img, ul, span {
  margin: 0;
  padding: 0;
  line-height: 1; }

ul {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h2 {
  font-size: 64px;
  font-weight: 700;
  color: #212020;
  margin-bottom: 50px; }

p {
  font-size: 32px;
  font-weight: 400;
  color: #212020;
  font-family: 'Arial',sans-serif;
  margin-bottom: 50px; }

.btn {
  display: inline-block;
  font-size: 36px;
  font-weight: 400;
  color: #254f36;
  line-height: 80px;
  background: transparent;
  border: solid 2px #254f36;
  border-radius: 10px;
  transition: 0.4s; }
  .btn:hover {
    background: #254f36;
    color: #fff; }

.card {
  max-width: 1120px;
  margin: 0 auto 90px; }
  .card:after {
    display: block;
    clear: both;
    content: ''; }
  .card .for_img {
    float: left;
    max-width: 535px;
    border-radius: 20px;
    overflow: hidden; }
    .card .for_img img {
      display: block;
      width: 100%; }
  .card .card_body {
    float: right;
    max-width: 500px;
    text-align: center; }

header {
  max-width: 1120px;
  margin: auto;
  position: relative;
  border-radius: 30px 30px 0 0;
  overflow: hidden; }
  header img {
    display: block;
    width: 100%; }
  header .logo {
    position: absolute;
    top: 40px;
    right: 30px; }

.intro {
  text-align: center;
  max-width: 1120px;
  margin: 0 auto 110px;
  background: #ffbc0d;
  border-radius: 0 0 20px 20px;
  position: relative;
  padding: 60px 40px; }
  .intro:after {
    position: absolute;
    display: block;
    content: url("../images/vector.png");
    bottom: -45px;
    right: 20px; }
  .intro h1 {
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 50px; }
  .intro p {
    color: #fff; }
  .intro .btn {
    min-width: 350px; }

.journey {
  margin-bottom: 55px; }
  .journey h2 {
    margin: 50px 0 40px; }
  .journey p {
    margin-bottom: 60px; }
  .journey .btn {
    min-width: 320px; }

.offers {
  text-align: center;
  margin: 0 auto 60px;
  max-width: 1120px; }
  .offers h2 {
    margin-bottom: 40px; }
  .offers p {
    margin-bottom: 60px; }
  .offers .for_img {
    margin-bottom: 60px;
    border-radius: 20px;
    overflow: hidden; }
    .offers .for_img img {
      display: block;
      width: 100%; }
  .offers .btn {
    min-width: 400px; }

.cheeseburger {
  margin-bottom: 90px; }
  .cheeseburger h2 {
    margin-bottom: 35px; }
  .cheeseburger p {
    margin-bottom: 35px; }
  .cheeseburger .btn {
    min-width: 320px; }

.happy_meal {
  margin-bottom: 80px; }
  .happy_meal h2 {
    margin-bottom: 35px; }
  .happy_meal p {
    margin-bottom: 35px; }
  .happy_meal .for_img {
    float: right; }
  .happy_meal .card_body {
    float: left; }
    .happy_meal .card_body .btn {
      min-width: 400px; }

.pizza {
  margin-bottom: 95px; }
  .pizza h2 {
    margin-bottom: 50px; }
  .pizza p {
    margin-bottom: 50px; }
  .pizza .btn {
    min-width: 320px; }

.sneak {
  margin-bottom: 110px; }
  .sneak h2 {
    margin-bottom: 40px; }
  .sneak p {
    margin-bottom: 55px; }
  .sneak .for_img {
    float: right; }
  .sneak .card_body {
    float: left; }
    .sneak .card_body .btn {
      min-width: 400px; }

footer {
  text-align: center; }
  footer .container {
    max-width: 960px;
    padding: 0;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between; }
    footer .container .logo {
      display: inline-block;
      height: 160px;
      width: 160px;
      border-radius: 10px;
      background: #254f36;
      transition: 0.4s; }
      footer .container .logo:hover {
        -webkit-box-shadow: 0 0 9px 10px rgba(0, 0, 0, 0.62);
        box-shadow: 0 0 9px 10px rgba(0, 0, 0, 0.62); }
    footer .container .social {
      display: flex;
      justify-content: center;
      background: #254f36;
      border-radius: 10px; }
      footer .container .social a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 160px;
        width: 180px;
        background: #254f36;
        text-align: center; }
        footer .container .social a:hover:before {
          color: #fff; }
        footer .container .social a:after {
          position: absolute;
          display: inline-block;
          content: '';
          width: 2px;
          height: 80px;
          background: #ffbb0d;
          opacity: 0.3;
          right: 0; }
        footer .container .social a:before {
          display: inline-block;
          font-size: 70px;
          font-weight: 900;
          color: #ffbb0d;
          font-family: "Font Awesome\ 5 Brands", "Font Awesome\ 5 Free", sans-serif; }
      footer .container .social .map {
        border-radius: 10px 0 0 10px; }
        footer .container .social .map:before {
          content: '\f3c5'; }
      footer .container .social .facebook:before {
        content: '\f39e'; }
      footer .container .social .instagram:before {
        content: '\f16d'; }
      footer .container .social .youtube {
        border-radius: 0 10px 10px 0; }
        footer .container .social .youtube:before {
          content: '\f167';
          font-weight: 600; }
        footer .container .social .youtube:after {
          display: none; }
  footer h3 {
    font-family: 'Helvetica',sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #7b7b7a;
    text-align: center;
    margin-bottom: 45px; }
  footer .footer_btn {
    position: relative;
    display: inline-block;
    padding: 20px 25px 20px 155px;
    border: solid 2px #7b7b7a;
    border-radius: 15px;
    background: #000;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    min-width: 455px;
    text-align: left;
    transition: 0.4s; }
    footer .footer_btn:hover {
      -webkit-box-shadow: 0 0 9px 10px rgba(0, 0, 0, 0.62);
      box-shadow: 0 0 9px 10px rgba(0, 0, 0, 0.62); }
    footer .footer_btn:nth-of-type(2) {
      text-transform: uppercase; }
      footer .footer_btn:nth-of-type(2):before {
        position: absolute;
        display: inline-block;
        content: '\f3ab';
        font-size: 80px;
        font-weight: 900;
        color: #fff;
        font-family: "Font Awesome\ 5 Brands", "Font Awesome\ 5 Free", sans-serif;
        left: 30px;
        top: 22px; }
    footer .footer_btn:before {
      position: absolute;
      display: inline-block;
      content: '\f179';
      font-size: 90px;
      font-weight: 900;
      color: #fff;
      font-family: "Font Awesome\ 5 Brands", "Font Awesome\ 5 Free", sans-serif;
      left: 30px;
      top: 15px; }
    footer .footer_btn span {
      all: initial;
      font-family: 'Arial', sans-serif;
      display: block;
      font-size: 50px;
      font-weight: 400;
      color: #fff;
      text-align: left;
      cursor: pointer; }
  footer .inner {
    max-width: 265px;
    margin: 0 auto 60px;
    display: flex;
    justify-content: space-between; }
    footer .inner i {
      font-size: 50px;
      color: #7b7b7a;
      cursor: pointer; }
      footer .inner i:hover {
        color: #254f36; }
  footer p {
    font-family: 'Arial', sans-serif;
    color: #706f6f;
    max-width: 960px;
    margin: 0 auto 45px; }
  footer .our_contacts {
    display: flex;
    justify-content: center;
    margin-bottom: 45px; }
    footer .our_contacts a {
      display: inline-block;
      position: relative;
      font-family: 'Arial', sans-serif;
      font-size: 32px;
      font-weight: 400;
      color: #706f6f;
      border-bottom: solid 2px #706f6f;
      margin-left: 36px; }
      footer .our_contacts a:hover {
        color: #254f36;
        border-bottom: solid 2px #254f36; }
      footer .our_contacts a:first-of-type {
        margin-left: 0; }
      footer .our_contacts a:after {
        position: absolute;
        display: inline-block;
        content: '';
        width: 2px;
        height: 30px;
        background: #706f6f;
        right: -20px;
        bottom: 0; }
    footer .our_contacts .contact:after {
      display: none; }
  footer .copyright {
    text-align: center;
    font-family: 'Arial',sans-serif;
    font-weight: 400; }
    footer .copyright:before {
      position: relative;
      top: -3px;
      left: -10px;
      display: inline-block;
      content: '\f1f9';
      font-size: 20px;
      font-weight: 300;
      font-family: "Font Awesome\ 5 Brands", "Font Awesome\ 5 Free", sans-serif; }

@media (max-width: 992px) {
  footer {
    padding: 0 15px; }

  footer .container {
    flex-direction: column;
    align-items: center; }

  footer .container .logo {
    margin-bottom: 50px; }

  footer .container .social a {
    width: 130px;
    height: 130px; }

  footer .footer_btn:first-of-type {
    margin-bottom: 50px; }

  footer p {
    font-size: 20px; }

  footer .our_contacts a {
    font-size: 20px; } }
@media (max-width: 768px) {
  .banner .container .logo {
    top: 15px;
    right: 15px; }

  .card {
    padding: 0 15px;
    margin-bottom: 50px; }

  .card .for_img {
    float: none;
    margin: 0 auto 50px; }

  .card .card_body {
    float: none;
    margin: auto; }

  .journey .card_body {
    float: none;
    margin: auto; }

  .happy_meal .for_img {
    margin-bottom: 0; }

  .offers {
    padding: 0 15px; }

  .offers .for_img:after {
    right: 0;
    left: 0; } }
@media (max-width: 576px) {
  header .logo {
    top: 15px;
    right: 15px; }

  .intro {
    padding: 40px 15px;
    margin-bottom: 80px; }

  .intro h1 {
    font-size: 30px; }

  h2 {
    font-size: 30px; }

  p {
    font-size: 17px; }

  .btn {
    font-size: 22px; }

  .intro .btn, .journey .btn, .offers .btn,
  .cheeseburger .btn, .happy_meal .card_body .btn,
  .pizza .btn, .sneak .card_body .btn {
    min-width: 250px; }

  footer .container .social a {
    width: 70px;
    height: 70px; }

  footer .container .social a:before {
    font-size: 30px; }

  footer .container .social a:after {
    height: 70px; }

  footer .footer_btn {
    font-size: 15px;
    min-width: 250px;
    padding-left: 90px; }

  footer .footer_btn:before {
    font-size: 50px; }

  footer .footer_btn:nth-of-type(2):before {
    font-size: 50px; }

  footer .footer_btn span {
    font-size: 30px; }

  footer h3 {
    font-size: 20px; }

  footer .inner {
    max-width: 200px; }

  footer p {
    font-size: 17px; }

  footer .our_contacts a:after {
    display: none; }

  footer .our_contacts a {
    font-size: 15px; }

  footer .our_contacts a {
    margin-left: 10px; } }
/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
